#imgGallery{
min-height:700px; 
width: 700px; 
margin:5px;  
}



#navigation {
background-color: #FFFFFF;
border-radius: 6px;
color: #000000;
float: left;
margin: 30px 30px 0 30px;
position: relative;
width: 100%;
padding: 0;
}
#navigation span { 
font-weight: bold;
} 
#navigation a { 
color: #fff;
outline-style: none;
outline-width: medium;
text-decoration: none;
}
#navigation a:link {
 background: #ccc;   
}
#navigation a:hover span { 
cursor : pointer;
} 

.clearfix { 
overflow: hidden;
}

.page-numbers.current { 
background: #FFFFFF;
color: #7F7F7F;
}

.page-numbers { 
background: #cccccc;
border-radius: 3px;
color: #FFFFFF;
display: block;
float: left;
font-family: "Helvetica", "Nimbus Sans", "Arial", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 700;
height: 22px;
margin: 3px;
padding: 3px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
width: 22px;
}
.output_photo{
 width: 690px;
 border: 0;
 border-collapse: separate;
     
}
.output_photo table{

border-collapse: separate;
    
}
.output_photo td{
width:150px; 
height:150px;
background-color: #CCCCCC; 
text-align:center;
vertical-align:middle;   
}
.output_photo img{
top: 0px; 
left: 0px;  
overflow: hidden;   
}
.dirImgList {
    width:200px; 
    height:240px; 
    background-color:#eee; 
    margin: 15px;
    padding: 5px; 
    float: left; 
    text-align: 
    center; 
    position:relative; 
    display:table;  
    vertical-align: middle;  
}
.dirImgWrapper {
    width:200px; 
    height:200px; 
    display:table-cell;  
    vertical-align:middle;  
    position: relative;
}
.dirImgCntr {
    border: none; 
    display:inline; 
    vertical-align:middle;
}
